:root{
    --font-family:'Mulish', sans-serif;

    // colors
    
    --text:#333;
    --background:#fafafa;
    --hint:#999;
    --light: #00c3ff;
    --primary:#2071e7;
    --dark: #2980b9;
    --border:#ddd
}


